
body {
    margin: 0px;
    font-family: 'Segoe UI';
}

h1 {
    font-family: 'Segoe UI';
    color: rgb(50, 166, 239);
    margin: 15px;
}

h2 {
    font-family: 'Segoe UI';
}

h3 {
    font-family: 'Segoe UI';
    margin: 0px;
}

p {
    font-family: 'Segoe UI';
    margin: 1px;
}

.nonav {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.homeheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.profileimg {
    border: 5px solid lightskyblue;
    border-radius: 50%;
    height: 180px;
    box-shadow: 5px 5px 5px rgb(210, 228, 234);
}

.socialbox {
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-top: 30px;
}

.social {
    height: 20px;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

/* .subh {
    margin-bottom: "10000px";
} */

.projectbox {
    width: 1200px;
    height: 360px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(251, 243, 232);
    padding: 50px;
}

.projectboxinner {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectcard {
    width: 370px;
    height: 350px;
    background-color: white;
    box-shadow: 1px 1px 4px rgb(126, 126, 126);
    border-radius: 25px;
    overflow: hidden;
}

.projecttype {
    height: 40px;
    background-color: rgb(50, 166, 239);
    color: white;
    font-family: "Segoe UI";
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectimg {
    width: 100%;
}

.projectdesc {
    padding-left: 20px;
    padding-right: 20px;
}

.topnav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    /* overflow: hidden; */
    font-family: 'Segoe UI';
    position: sticky;
    top: 0;
    background-color: rgb(50, 166, 239);
    padding: 5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: left; */
    color: white;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: lightskyblue;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color:  white;
    border-color: white;
    border-style: solid;
  }

  .navleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  }

  .logo {
    height: 60px
  }

  .article {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  .article-title {
    text-align: center;
    width: 600px;
  }

  .article-body {
    margin-top: 50px;
  }

  .article-img {
    padding: 50px;
    /* width: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    display: flex;
    /* align-items:baseline; */
    justify-content:space-between ;
    margin: 20px;
  }