
.bioBox {
    width: 900px;
    height: 140px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: #fae7d3;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 40px; 
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.heading {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.projectBox {
    /* width: 1200px; */
    display: center;
    flex-direction: column;
    /* background-color: rgb(251, 243, 232); */
    border-radius: 25px;
    margin-bottom: 30px;
}

.projectRowHeading {
    font-size: 20px;
    margin-bottom: 20px;
}

.projectRowBox {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.link {
    text-decoration: inherit;
}

/* PROJECT CARD STUFF */

.projectGallery {
    display: flex;
}

.project {
    width: 900px;
    height: 200px;
    /* padding: 3px; */
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projImg {
    width: 300px;
    height: 170px;
    background-color: gray;
    /* border-radius: 10%; */
}

.projTxt {
    /* padding: 5%; */
}

.projTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.projAuthors {
    font-size: 15px;
}

.projDesc {
    font-size: 15px;
    font-style: italic;
}

.projLinks {
    font-size: 15px;
}