
.bioBox {
    width: 900px;
    height: 140px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: #fae7d3;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 40px; 
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.heading {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.projectBox {
    width: 1200px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(251, 243, 232); */
    border-radius: 25px;
    margin-bottom: 30px;
}

.projectRowHeading {
    font-size: 20px;
    margin-bottom: 20px;
}

.projectRowBox {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.checkButton {
    height: 60px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #446491 solid 3px;
    color: #446491;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}