
.header {
    height:350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #C4DDFF; */
    background-color: white;
}

.infoBox {
    height: 70%;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: white;
    /* background-color: #446491; */
    border-radius: 30px;  
    justify-content:space-around;
}

.profileImg {
    height: 250px;
    width: 250px;
    margin: 30px;
    border: 5px solid white;
    border-radius: 100%;
}

.infoBoxRight {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.textName {
    font-size: 36px;
    font-weight: bold;
    color: #335381;
}

.textSlogan {
    font-size: 20px;
    font-style: italic;
}

.textRole {
    font-size: 16px;
    transition: transform 0.25s ease-out;
}

.textRole:hover {
    transform: scale(1.02);
}

.socialBox {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialButton {
    color: inherit;
    text-decoration: inherit;
    transition: transform 0.25s ease-out;
}

.socialButton:hover {
    transform: scale(1.1);
}


